$secondary: #323232;
$highlight: #209e91;

$cardbgColor: #4f4f4f;
$cardHightlight: #606060;

$textColor: #292929;

$white: #fff;

$disabled: rgba(255,255,255,.35);

$bgColor: #636363;

$axisColor: #cccccc;

